/* positions */
.box{
    border:4px solid rgb(208, 31, 31);
    width: 200px;
    height: 100px;
    background-color: bisque;
    margin-bottom: 5px;
    text-align: center;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    top: 40px;
    left: 50px;
}
.box3{
    position: absolute;
    top:40px;
    left: 50px;
} 
.box4{
    position: sticky;
    top: 0px;
    left: 5px;


}
.box5{
    position: fixed;
    bottom: 0px;
    right: 10px;
} 

/* relative and absolute */
.rel{
    position:relative;
    height:400px;
    width:400px;
    background-color: rgb(218, 127, 16);
    left:100px;

}
#tv{
    position: absolute;
    height:50px;
    width: 150px;
    top:50px;
    left:120px;
    background-color: rgb(35, 32, 32);
    text-align: center;
    color: aliceblue;

}
#sofa{
    position: absolute;
    height: 100px;
    width: 200px;
    top: 150px;
    left:100px;
    background-color: rgb(42, 155, 165);
    text-align: center;

}
#fridge{
    position: absolute;
    height:200px;
    width:70px;
    bottom:100px;
    right:10px;
    background-color: rgb(156, 144, 144);
    text-align: center;
}

/* background image */
/* body{
    background-image: url("/images/bg1.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;
} */
/* .heading{
    color:aliceblue;
    text-align: center;
    text-transform: uppercase;
     font-size: 50px;
}
.text{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
} */

/* background gradient */
.linear{
    height: 400px;
    background:linear-gradient(orange,white,green);
}
h1{
    color: rgb(253, 253, 253);
    font-size: 50px;
    text-align: center;
}
.radial{
    height:600px;
    background: radial-gradient(circle at left top, rgb(211, 55, 47), yellow,orange);
}
.conic{
    height:600px;
    background:conic-gradient(from 90deg,red,green,yellow,orange,brown)
}