/* text transform  */
.t_transform_uppercase{
    text-transform: uppercase;
}
.t-transform_lowercase{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}

/* text align */
.t_align_center{
    text-align: center;

}
.t_align_right{
    text-align: right;
}

/* text decoration */
.t_decor_over{
    text-decoration: overline;
}
.t_decor_under{
    text-decoration: underline;
}
.t_decor_line{
    text-decoration: line-through;
}
.t_decor_all{
   text-decoration: underline overline line-through;
}

/* text-indent  */
.t_indent{
    text-indent: 100px;
}

/* line height */
.t_line_height{
    line-height: 30px;
    
}

/* letter spacing */
.t_letter_spacing{
    letter-spacing: 20px;
}

/* word spacing */
.t_word_spacing{
    word-spacing: 40px;
}

/*text shadow  */
.t_shadow{
    color:orangered;
    font-size: 70px;
    text-shadow: 7px 8px 7px rgb(217, 157, 7);
    text-align: center;
}
.t_shadow2{
    color:red;
    font-size: 70px;
    text-shadow: 0px 8px 7px rgb(100, 96, 96);
    text-align: center;
}
.t_shadow3{
    color:blueviolet;
    font-size: 70px;
    text-shadow: 4px 5px 7px red;
    text-align: center;
}