.container{
    position: relative;
    margin:100px;
}
div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border: 4px solid white;
    color: beige;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.blue{
    background-color: blue;
    left:40px;
    z-index: 1;
}
.red{
    background-color: red;
    left:80px;
    z-index: 2;
}
.red:hover{
    background-color: orangered;
    z-index: 42
}
.green{
    background-color: green;
    left:120px;
    z-index: 30;
}